<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mcd.xdj.com.module_main" >


    <application>
        <!--<activity android:name="com.drz.main.ui.SplashActivity"-->
            <!--android:theme="@style/AppTheme.Start"-->
            <!--android:screenOrientation="portrait"-->
            <!--&gt;-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<activity android:name=".ui.MainActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--/>-->
        <!--<activity android:name=".ui.GuideActivity"/>-->
    </application>

</manifest>
